$col-width: 1em;
$row-height: 1em;
$font-size: 0.5em;
$gap-width: 0px;

table.grid {
    font-family: sans-serif;
    border-collapse: collapse;
    // border-collapse: separate;
    border-spacing: $gap-width;

    td {
        width: $col-width;
        height: $row-height;
        padding: 0px;
        text-align: center;
    }
    td, th {    
        border-width: 1px;
        border-color: lightgray;
        border-style: solid;        
    }
    th {
        font-size: 50%;
        font-weight: normal;
        color: darkgray;

    }
    th.edge {
        border-style: solid solid none none;
    }
    th.left {
        border-style: solid solid none none;
        width: auto;
    }
    th.bottom {
        border-style: solid solid none none;
    }
}



.outerGrid {
    font-size: small;
    display: grid;
    gap: $gap-width;
    grid-template-columns: $col-width auto;
    grid-template-rows: auto $row-height;
}

.vertNumbering {
    display: grid;
    gap: $gap-width;
    grid-template-columns: repeat(1, $col-width);
    grid-template-rows: repeat(22, $row-height);
}
.horzNumbering {
    display: grid;
    gap: $gap-width;
    grid-template-columns: repeat(22, $col-width);
    grid-template-rows: repeat(1, $row-height);
}

.levelMap {
    display: grid;
    align-items: initial;
    gap: $gap-width;
    grid-template-columns: repeat(22, $col-width);
    grid-template-rows: repeat(22, $row-height);
}

.gridCellBase {
    font-size: $font-size;
    border-width: 1px;
    border-color: lightgray;
    box-sizing: border-box;
    overflow: hidden;
    width: $col-width;
    height: $row-height;
    display: inline-block;
    position: relative;

}

.gridInner {
    vertical-align: middle;
    display: inline;
    // background-color: yellowgreen;
}

.gridCell {
    @extend .gridCellBase;
    border-style: none;
}
.gridCellHorz {
    @extend .gridCellBase;
    border-style: solid solid none none;
    text-align: center;
}
.gridCellVert {
    @extend .gridCellBase;
    border-style: solid solid none none;
    text-align: right;
}
.gridCellEdge {
    @extend .gridCellBase;
    border-style: solid solid none none;
}
